paymentTransactionBank/SOA/Schemas/paymentTransactionInternalResponse.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sa="http://www.saptco.com.sa" targetNamespace="http://www.saptco.com.sa"
     elementFormDefault="qualified">
    <xsd:element name="responseMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="responseMessage" type="sa:responseType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="responseType">
        <xsd:sequence>
            <xsd:element name="responseStatus"/>
            <xsd:element name="responseMessage"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
