paymentTransactionBank/SOA/WSDLs/readPaymentTransactionFile.wsdl

<wsdl:definitions
     name="readPaymentTransactionFile"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/paymentTransactionBank/paymentTransactionBank/readPaymentTransactionFile"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/file/paymentTransactionBank/paymentTransactionBank/readPaymentTransactionFile"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:imp1="http://www.saptco.com.sa"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="SynchRead_plt" >
    <plt:role name="SynchRead_role" >
      <plt:portType name="tns:SynchRead_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/file/paymentTransactionBank/paymentTransactionBank/readPaymentTransactionFile"
              xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://www.saptco.com.sa" schemaLocation="../Schemas/paymentTransactionRequest.xsd" />
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="body" element="imp1:PaymentMessage"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
